@import "_cl4_mixins";

$debug_msg_img: image-url('message-debug.gif', false, false);

$cl4_icons-layout: smart;
$cl4_icons-sprite-dimensions: true;
@import "cl4_icons/*.png";

$cl4_arrows-layout: smart;
$cl4_arrows-sprite-dimensions: true;
@import "cl4_arrows/*.png";

$cl4_file_types-layout: smart;
$cl4_file_types-sprite-dimensions: true;
@import "cl4_file_types/*.png";

@include cl4_all();